## pre build script
PRE_BUILD_EXEC=|echo|"I am pre-build script"

## pre build script, if called with run.go (fallback to PRE_BUILD_EXEC)
PRE_DEBUG_EXEC=|echo|"I am pre-debug script"

## post compile script, called if compile succeeded (before RUN)
POST_COMP_EXEC=|echo|"I am post-comp script"

#BUILD_TAGS=

#EXTRA_LDFLAGS=

#EXTRA_ENVIRON=
